# OPENAI
OPENAI_URL: https://api.minimaxi.com
OPENAI_KEY: your_openai_key
OPENAI_MODEL: MiniMax-M2.7
OPENAI_COMPACT_MODEL: MiniMax-M2.7
OPENAI_API_TYPE: openai

# ANTHROPIC
# ANTHROPIC_URL: https://open.bigmodel.cn/api/anthropic
# ANTHROPIC_KEY: your_anthropic_key
# ANTHROPIC_MODEL: glm-5.1
# ANTHROPIC_COMPACT_MODEL: glm-5.1
# ANTHROPIC_API_TYPE: anthropic